<section id="aboutMe">
  <div class="contents">
    <div id="profile" class="flexMode">
      <div class="avatar columns">
        <img src="{{root}}assets/img/avatar.png">
      </div>
      <div class="introText columns">
        <h3 class="marginBttm">Hola I'm Michel</h3>
        <p>Web designer & Developper</p>
      </div>
    </div>
    <div class="marginTop columns">
      <h4 class="titleBox">Background</h4>
      <p>Baccalaureate in Industrial and Technologic Science, I took a different direction and studied Arts in University. Where I studied cinema, history of art, music and visual communication.</p>
      <!--<p>My job is not only to create beautiful things but to find the most simple and right design that communicates the message and appeals to the correct audience with a creative approach.</p> -->
    </div>
    <div class="marginTop columns">
      <h4 class="titleBox">About me</h4>
      <p>I started as a graphic print designer in editorial magazines and advertising, passionate about web design especially Flash, 3 years later I worked in Tokyo from 2007 to 2012 as web designer. Throughout these 5 years, I was specialized in web design and branding with clients like Salomon, Wilson, Suunto...</p>
    </div>
    <div class="marginTop columns">
      <h4 class="titleBox">Experience</h4>
      <p>I have wide ranging experience in design from print, branding to web design. Thats mean I'm very comfortable using Photoshop, Indesign, Illustrator and Flash. And of course I know HTML, CSS, Javascript, Php and Action Script 3.</p>
      <p>Comfortable in deadline, with experience in directing photography and video, means I can manage a task from brief to production. A keen eye for detail and a desire to produce design that communicates the message and appeals to the correct audience.</p>
    </div>

    <div id="skills" class="marginTop small-12 columns">
      <h4 class="titleBox">Skills</h4>
      <div class="skillContainer row">
        <ul class="menu vertical">
          <li>
            <div class="row">
              <div class="skillTitle">html</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-100"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">css</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-95"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">javascript</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-80"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">jquery</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-60"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">php</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-70"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">branding</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-80"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">design</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-95"></div>
              </div>
            </div>
          </li>
        </ul>

        <ul class="menu vertical">
          <li>
            <div class="row">
              <div class="skillTitle">english</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-95"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">french</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-100"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">japanese</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-80"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="skillTitle">spanish</div>
              <div class="progressBarContainer" style="padding: 0px 0px;">
                <div class="progressBarValue value-30"></div>
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>
  </div>
</section>
