<div class="container">
  <section id="workShowcase">
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/1.jpg"></a>
    </div>
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/2.jpg"></a>
    </div>
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/3.jpg"></a>
    </div>
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/4.jpg"></a>
    </div>
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/5.jpg"></a>
    </div>
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/6.jpg"></a>
    </div>
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/7.jpg"></a>
    </div>
    <div class="column">
      <a href="#"><img alt="#" src="{{root}}/assets/img/8.jpg"></a>
    </div>
  </section>
</div>
