<div id="main-page">
 <div class="containerRight">
   <!--- Main Content Here -->
    <div class="maincontent flexMode">
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/linkEat.jpg">
            <div class="card-section">
              <p>#Illustrator #Photoshop</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/salomon-thumb.jpg">
            <div class="card-section">
              <p>#HTML #AS3</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/mavic-thumb.jpg">
            <div class="card-section">
              <p>#CSS Design</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/comquest-thumb.jpg">
            <div class="card-section">
              <p>#HTML #AfterEffects</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/heartbeat-thumb.jpg">
            <div class="card-section">
              <p>#Photoshop #Print</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/wilson-thumb.jpg">
            <div class="card-section">
              <p>#Flash animation</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/Metropolis_logo-thumb.jpg">
            <div class="card-section">
              <p>#Illustrator</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="firstlink">
          <div class="card">
            <img alt="#" src="{{root}}/assets/img/works/small/MonMagasin-thumb.jpg">
            <div class="card-section">
              <p>#Illustrator</p>
            </div>
          </div>
        </a>
      </div>

      <!-- <a class="mainlink">TRY IT NOW &#10140;</a> -->
      <!-- <a class="thirdpage">third page &#10140;</a> -->
    </div>
  </div>

  <div id="next-page">
   <!--- Next Page Content Here -->
    <div class="workContents">
      <div class="WorkTitle">
        <div class="intro large-6 columns">
          <h3>Link-Eat</h3>
        </div>
        <div class="resume large-6 columns">
          <ul class="menu">
            <li>Restaurant</li>
            <li>Branding</li>
            <li>Logo</li>
          </ul>
        </div>
      </div>

      <div class="descriptionCmpny">
        <div class="columns">
          <p>The concept of Link-eat is to create a "bar restaurant" where people could eat and interact with others seating around them via a computer.</p>
        </div>
      </div>

      <div class="workShowcase flexMode">
        <div class="column">
          <a href="#"><img alt="#" src="{{root}}/assets/img/works/small/linkEat-card.jpg"></a>
        </div>
        <div class="column">
          <a href="#"><img alt="#" src="{{root}}/assets/img/works/small/linkEat.jpg"></a>
        </div>
      </div>

      <div class="descriptionJob">
        <div class="columns">
          <p>When I started working on this project, my goal was to make a very recognizable logo, I wanted to people understand in an instant what is it? and what the concept of this establishment is ?</p>
        </div>
      </div>
      <!-- <img alt="#" src="{{root}}/assets/img/1.jpg"> -->
      <!-- <button id="mobile-btn" type="button" class="button" data-toggle="offCanvas"></button> -->
      <a class="nextlink">back</a>
  </div>
  </div>

  <div id="third-page">
   <!--- Next Page Content Here -->
    <div class="nextcontent">
      <h3>Great! You're in the 3rd Page!</h3>
      <a class="nextlink"> &#8592 GO BACK</a>
    </div>
 </div>
</div>
