<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasami Creative</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    <div class="off-canvas-wrapper">
    <div class="off-canvas position-bottom" id="offCanvas" data-off-canvas>
      <ul id="mobile-menu" class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Contact</a></li>
        <button id="mobile-close-btn" class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </ul>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="screen-container">
        <div class="left">
          <div class="containerLeft">
            {{>header}}
            {{>body}}
          </div>
        </div>
        <div class="right">
          {{>workpage}}
          {{>about}}
        </div>
      </div>
      <button id="mobile-btn" type="button" class="button hide-for-large" data-toggle="offCanvas"><div class="navicon">

      </div></button>
    </div>
  </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
